<h1>Add articles</h1>
<div class="container mt-4">
  <div class="row justify-content-center">
    {{#each errors}}
    <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
    <form method="POST" action="/about" enctype="multipart/form-data">
     <div class="form-group">
        <label>Email </label>
        <input type="text" class="form-control" name="emails">

      </div>
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="titles" value="{{titles}}">

      </div>
      <div class="form-group">
        <label>Author</label>
        <input type="text" class="form-control" name="author" value="{{author}}">

      </div>
      <div class="form-group">
        <label>Author</label>
        <input type="file" class="form-control" name="file">

      </div>
      
      <div class="form-group">
        <label>Body</label>
        <textarea class="form-control" name="body" rows="5">{{body}}</textarea> 

      </div>
      <div class="form-group text-center">
      <input type="submit" class="btn btn-primary mt-4 text-center" value="submit">
      </div>
    </form>

  </div>

</div>