
<div class="container">
<h3 class="text-info">Articles</h3>

<hr>

{{#each tasks}}
<ul class="list-group">
<li class="list-group-item"><h4><a href="/article/{{_id}}">{{titles}}</a></h4></li>

</ul>

{{/each}}
</div>